.btn-custom {
  background-color: #37493c !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ded6", endColorstr="#36483b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d3ded6), to(#36483b));
  background-image: -moz-linear-gradient(top, #d3ded6, #36483b);
  background-image: -ms-linear-gradient(top, #d3ded6, #36483b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3ded6), color-stop(100%, #36483b));
  background-image: -webkit-linear-gradient(top, #d3ded6, #36483b);
  background-image: -o-linear-gradient(top, #d3ded6, #36483b);
  background-image: linear-gradient(#d3ded6, #36483b);
  border-color: #36483b #36483b #161d18;
  color: #333 !important;
  font-weight: bold !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.99);
  -webkit-font-smoothing: antialiased; }

html, body {
  height: 100%; }

body {
  background-color: #202020; }
body h1, body h2 {
  color: #CCCECB;
  text-align: center; }
body .row {
  margin: 0;
  padding: 0; }
#ttt {
      background: #FFA700;
      border: 2x ridge white;
      width: 240px;
      height: 240px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      padding: 1em; }
#ttt .blocks {
      box-sizing: border-box;
      border: 1px solid black;
      margin: auto;
      text-align: center; }
body #sg-container .blocks:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%; }
body #sg-container .messages-card {
  margin-top: 0; }

